.accordion {
  cursor: pointer;
  margin: 1em 0;
  interpolate-size: allow-keywords;
}

.accordion::details-content {
  height: 0;
  overflow: clip;
  transition:
    height 0.3s ease,
    content-visibility 0.3s allow-discrete;
}

.accordion[open]::details-content {
  height: auto;
}

.summary {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; /* removes default marker in Firefox */
  padding: 0.25em 0;
}

/* removes default marker in Chrome/Safari */
.summary::-webkit-details-marker {
  display: none;
}

.title {
  font-size: var(--font-size-xl);
  font-family: var(--font-family-heading);
  font-weight: 700;
}

.symbol {
  transition: transform 0.2s ease;
}

.accordion[open] > .summary > .symbol {
  transform: rotate(180deg);
}

.content {
  padding: 0.75em 0;
}
