.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: var(--color-preview);
  cursor: pointer;
  margin: 6px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}

.dot.active {
  background-color: var(--color-olive);
}
