.objectMenu {
  height: 12rem;
  position: absolute;
  bottom: 2vh;
  left: 2vw;
}

.angleMenu,
.rulerMenu,
.screenMenu,
.imgMenu {
  height: 3rem;
}

.objectMenu article img {
  height: 3rem;
  cursor: pointer;

  background-color: #fbf9f3;
}

.objectMenu article :first-child {
  display: inline-block;
}
