.objectMenu {
  height: 12rem;
  position: absolute;
  bottom: 2vh;
  left: 2vw;
}

.angleMenu,
.rulerMenu,
.screenMenu,
.dimensionMenu {
  height: 3rem;
}

article img {
  height: 3rem;
  cursor: pointer;
}

article :first-child {
  display: inline-block;
}
