.variantInput {
  opacity: 0;
  width: 1px;
  height: 1px;
}

.variantImg {
  width: 8em;
  height: 8em;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: var(--color-preview);
}

.variantInput:checked + .variantImg {
  border-color: #333;
}
